{%extends "vote/homebase.html"%}
{%block title%}Vote here{%endblock%}
	{%block content%}
		{%load static%}
        <div class="top-content"style="background-image:url({% static 'vote/img/backgrounds/7.jpg' %});">
        	
        	<!-- Top menu -->
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 text">
                            <h1 class="wow fadeInLeftBig" data-wow-duration="1.5s" data-wow-delay="1s">
                            	2018 Election <strong>Day</strong>
                            </h1>
                            <div class="description wow fadeInLeftBig" data-wow-duration="1.5s" data-wow-delay="2s">
                            	<p>
									This page is for Cameroonians citizens only, those who get their self registered 
									on the élection lists
                            	</p>
                            </div>
                        <!--    <div class="timer wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="2.5s">
                                
                                <div class="hours-wrapper">
                                    <span class="hours"></span> <span class="t-text">hours /</span>
                                </div>
                                <div class="minutes-wrapper">
                                    <span class="minutes"></span> <span class="t-text">minutes /</span>
                                </div>
                                <div class="seconds-wrapper">
                                    <span class="seconds"></span> <span class="t-text">seconds</span>
                                </div>
                            </div> -->
                            <div class="subscribe wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="3s">
	                			<form class="form-inline" role="form" action="assets/subscribe.php" method="post">
									{% csrf_token %}
									<div class="form-group">
			                    		<label class="sr-only" for="subscribe-email">Email address</label>
			                        	<input type="text" name="party" placeholder="Enter your choice..." class="subscribe-email form-control" id="subscribe-email">
			                        </div>
			                        <button type="submit" class="btn">Subscribe</button>
			                    </form>
			                    <div class="success-message"></div>
			                    <div class="error-message"></div>
                            </div>
					   
						
						</div>
                    </div>
                </div>
            </div>
            
        </div>
    {%endblock%}