{%extends 'vote/superAdmin.html'%}
{%block admcontent%}
<!-- Top menu -->
<div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text">
                    <h1 class="wow fadeInLeftBig" data-wow-duration="1.5s" data-wow-delay="1s">
                        2018 Election <strong>Day</strong>
                    </h1>
                    <div class="description wow fadeInLeftBig" data-wow-duration="1.5s" data-wow-delay="2s">
                        <p>
                            This page is for Cameroonians citizens only, those who get their self registered 
                            on the élection lists
                        </p>
                    </div>
                </div>
                <!--    <div class="timer wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="2.5s">
                        
                        <div class="hours-wrapper">
                            <span class="hours"></span> <span class="t-text">hours /</span>
                        </div>
                        <div class="minutes-wrapper">
                            <span class="minutes"></span> <span class="t-text">minutes /</span>
                        </div>
                        <div class="seconds-wrapper">
                            <span class="seconds"></span> <span class="t-text">seconds</span>
                        </div>
                    </div> -->
                <div class="col-sm-4">
                        <div class="form">
                            {%load static%}
                            <form role="form" action="{%url 'vote:regAgents'%}" method="post" class="registration-form">
                                {%csrf_token%}
                                <div class="col-md-4 col-md-offset-4">
                                    <button type="button" style="background:transparent;border:none" data-toggle="modal" data-target="#myModal">
                                        <img src="{% static 'vote/img/webcam.png' %}" class="img-responsive" />
                                    </button>
                                    <h4 class="text-center">Picture</h4>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-first-name">First name</label>
                                    <input type="text" name="nom" placeholder= "Name..." class="form-first-name form-control" id="form-first-name">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-last-name">Last name</label>
                                    <input type="text" name="surname" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-dob">Email</label>
                                    <input type="date" name="dob" class="form-date form-control" id="form-date">
                                </div>
                                <div class="form-group">
                                <button type="submit" class="btn">Sign me up!</button>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}